@model IEnumerable<AdvancedProjectMVC.Models.ServerInvite>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Server Name
            </th>
            <th>
                Sender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Server.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUserName)
            </td>
            <td>
                <form asp-action="Join">
                    <input type="hidden" value="@item.Id" />
                    <input type="submit" value="Join" class="btn btn-success" />
                </form>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
