@model AdvancedProjectMVC.Models.ServerMember

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Profile for @Html.DisplayFor(model => model.ApplicationUser.UserName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.DOB)
        </dd>
        
    </dl>
    @if (@Model.ApplicationUser.ProfileImage == null)
    {
        <img class="col-sm-10" src="https://advancedprojectfileshare.blob.core.windows.net/profileimage/default.png" style="border:5px solid black; max-width: 50%; width: auto/9; height: auto">
    } else
    {
        <img class="col-sm-10" src="@Model.ApplicationUser.ProfileImage" style="border:5px solid black; max-width: 50%; width: auto/9; height: auto">
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Servers">Back to Server</a>
    <a asp-action="Create" asp-controller="Servers" asp-route-member1=" @User.Identity.Name" asp-route-member2="@Model.ApplicationUser.UserName" asp-route-memberId="@Model.ApplicationUserId">Open Private DM</a>
</div>
